@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background: url("croatia-background.jpeg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Raleway", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

h1 {
  font-weight: 300;
  font-size: 60px;
  margin-left: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
}

h2 {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 40px;
  margin-bottom: 20px;
}
.title {
  display: flex;
  width: 80%;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 8px;
}

.information-map-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.information-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.information-container a {
  color: white;
  border: white solid;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  border-radius: 40px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  padding: 25px;
  display: block;
}

.information-container p {
  font-size: 20px;
  margin-bottom: 12px;
  margin-top: 0px;
  margin-right: 25px;
  margin-left: 2px;
}
.map-container {
  width: 50%;
}

.pictures-container {
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 100%;
}

.picture-container {
  width: 25%;
}

.title-things-to-do-nearby {
  width: 100%;
}

.things-to-do-nearby-container {
  width: 100%;
  height: 300px;
  display: flex;
  color: white;
}

.thing-to-do-nearby-container {
  width: 25%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.things-to-do-picture-container {
  display: flex;
}

.things-to-do-picture-container img {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 155px;
  height: 155px;
}

.pictures-container {
  display: flex;
}

.picture-container img {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 155px;
  height: 155px;
}

.icon {
  font-size: x-large;
}

.icon-name {
  font-size: 12px;
  font-weight: 600;
}

.icons-and-texts-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 25px;
  color: white;
}

.icon-and-text-container {
  display: flex;
  flex-direction: column;
  flex-basis: 33%;
  justify-items: center;
  align-items: center;
  text-align: center;
  row-gap: 8px;
}
